<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969134479773-84mkgs8hphuuqh5e5kq40u6dj7101gs9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969134479773-84mkgs8hphuuqh5e5kq40u6dj7101gs9</string>
	<key>API_KEY</key>
	<string>AIzaSyCFYHm-ftuBaFwyNMIPQbWUhY6QshTF4M4</string>
	<key>GCM_SENDER_ID</key>
	<string>969134479773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyoichi.reading-memory-ios</string>
	<key>PROJECT_ID</key>
	<string>reading-memory</string>
	<key>STORAGE_BUCKET</key>
	<string>reading-memory.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969134479773:ios:c69a56a185b4961a82f774</string>
</dict>
</plist>